@model ATP2_Project.Models.Sale

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sell Details</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.info_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pre_unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pre_unit_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.new_unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.new_unit_price)
        </dd>

    </dl>
</div>
<p>
 
    @Html.ActionLink("Back to List", "Index")
</p>
