@model ATP2_Project.Models.Information

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            padding: 0;
        }

        .center {
            margin: auto;
            width: 50%;
            height: 5px;
            background-color: white;
            padding: 20px;
        }

        .center1 {
            margin: auto;
            width: 50%;
            height: 40px;
            background-color: rgb(224,255,255);
            padding: 20px;
        }

        .center2 {
            margin: auto;
            width: 50%;
            height: 400px;
            background-color: rgb(236,233,216);
            padding: 20px;
        }

        .center3 {
            margin: auto;
            width: 50%;
            height: 0px;
            background-color: rgb(224,255,255);
            padding: 20px;
        }


        div.absolute {
            position: absolute;
            top: 140px;
            right: 420px;
            width: 120px;
            height: 40px;
        }



        div.absolute8 {
            position: absolute;
            width: 250px;
            height: 10px;
        }
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="center"></div>
            <div class="center1"></div>
            <div class="center2"></div>
            <div class="absolute8" style="top: 80px;right: 540px;"><b><font style="font-family:Algerian;font-size:15.75pt; color:red; align=center; ">REGISTRATION FORM</font></b></div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="absolute8" style="top: 190px;right: 580px">
                @Html.LabelFor(model => model.Full_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="absolute8" style="top: 190px;right: 470px">
                @Html.EditorFor(model => model.Full_Name, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Enter name" } })
            </div>
            <div class="absolute8" style="top: 190px;right: 310px;color:red">
                @Html.ValidationMessageFor(model => model.Full_Name, "", new { @class = "text-danger" })
            </div>


            <div class="absolute8" style="top: 230px;right: 580px">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="absolute8" style="top: 230px;right: 470px">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Enter Email" } })
            </div>
            <div class="absolute8" style="top: 230px;right: 310px;color:red">
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>

            <div class="absolute8" style="top: 270px;right: 580px">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="absolute8" style="top: 270px;right: 470px">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Enter Phone" } })
            </div>
            <div class="absolute8" style="top: 270px;right: 310px;color:red">
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>


            <div class="absolute8" style="top: 310px;right: 580px">
                @Html.LabelFor(model => model.Acc_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="absolute8" style="top: 310px;right: 470px">
                @Html.EditorFor(model => model.Acc_Number, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Enter account number" } })
            </div>
            <div class="absolute8" style="top: 310px;right: 310px;color:red">
                @Html.ValidationMessageFor(model => model.Acc_Number, "", new { @class = "text-danger" })
            </div>


            <div class="absolute8" style="top: 350px;right: 580px">
                @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="absolute8" style="top: 350px;right: 470px">
                @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Enter balance" } })
            </div>
            <div class="absolute8" style="top: 350px;right: 310px;color:red">
                @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
            </div>


            <div class="absolute8" style="top: 390px;right: 580px">
                @Html.LabelFor(model => model.Work_Position, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="absolute8" style="top: 390px;right: 470px">
                <select name="Work_Position" id="" style="width:145px">
                    <option value="" disabled selected>Select Work Position</option>
                    <option value="Manager">Manager</option>
                    <option value="Employee">Employee</option>
                </select>
            </div>
            <div class="absolute8" style="top: 390px;right: 310px;color:red">
                @Html.ValidationMessageFor(model => model.Work_Position, "", new { @class = "text-danger" })
            </div>


            <div class="absolute8" style="top: 430px;right: 580px">
                @Html.LabelFor(model => model.usertype, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="absolute8" style="top: 430px;right: 470px">
                @Html.TextBoxFor(model => model.usertype, new { @class = "form-control", @Value ="User", @readonly = "readonly" } )
              
            </div>
            <div class="absolute8" style="top: 430px;right: 310px;color:red">
                @Html.ValidationMessageFor(model => model.usertype, "", new { @class = "text-danger" })
            </div>


            <div class="absolute8" style="top: 470px;right: 470px">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-default" style="background-color: rgb(30,144,255);color:maroon;width:150px;height:40px;font-size:22px;cursor: pointer" />
                </div>
            </div>
        </div>
        <div class="absolute8" style="top: 520px;right: 415px;font-size:21px">
            @Html.ActionLink("Back", "Index", "Login")
        </div>
    }
</body>
</html>
